@import 'variables';

.aboutSection {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
    @include mq (995px) {
      flex-direction: column;
      align-items: center;
    }
    @include mq (455px) {
      margin-top: 25px;
    }
}

.profileIntro {
  width: 55%;
    p{
      padding: 50px 100px;
    }
  @include mq (1369px){
    p{
      padding: 0;
    }
  }
  @include mq (995px) {
    width: 100%;
    p{
      line-height: 1.3;
      margin-bottom: 30px;
    }
  }
}

.imgSection {
  width: 45%;
  @include mq (995px) {
    width: 100%;
  }
}

.profileImgContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .socialIcons {
      width: 100%;
    }
}

.profilePic {
  border-radius: 50%;
  width: 60%;
  margin-bottom: 30px;
    @include mq (995px) {
      margin-bottom: 10px;
    }
}