.sectionContainer {
  display: flex;
  justify-content: center;
}

.folderContainer {
  width: 100%;
  height: calc(100vh - 310px);
  border-radius: 50px;
  background-color: $lightYellow;
  transition: background 0.2s linear;
  border: 1px solid $deepBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

.aboutSection {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.profileIntro {
  padding-right: 5vw;
  max-width: 70%;
}

.profileImgContainer {
  width: 25%;
}

.profilePic {
  border-radius: 50%;
  width: 100%;
}

.skills {
  min-width: 345px;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      font-size: 7.5rem;
      margin: 0 20px;
      color: $deepBlue;
    }
  }
}

h2 {
  font-family: $josefinSlab;
  font-weight: 700;
  font-size: 4rem;
  color: $deepBlue;
}

.projectHeaderContainer {
  margin: 20px auto;
}

.skillsHeaderContainer {
  margin-top: 50px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 40%;
}

input {
  padding: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $deepBlue;
  margin: 5px 0;
}

textarea {
  padding: 15px;
  resize: none;
  overflow: auto;
  outline: none;
  height: 150px;
  border: none;
  border-bottom: 2px solid $deepBlue;
  background-color: transparent;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.submitButton {
  padding: 20px 0;
  width: 60%;
  margin: 15px 0;
  font-size: 2rem;
  color: $deepBlue;
  background-color: $lightBlue;
  border: 2px solid $deepBlue;
  border-radius: 20px;
    &:hover {
      background-color: $deepBlue;
      color: $lightBlue;
    }
}

