@import 'variables';

nav {
  ul {
    display: flex;
    justify-content: center;
    li {
      font-family: $chakraPetch;
      font-weight: 900;
      letter-spacing: 5px;
      list-style: none;
      text-transform: uppercase;
      margin: 50px 15px;
      font-size: 2.5rem;
        a {
          padding: 25px 0;
        }
    }
  }
}

main {
  height: calc(100vh - 350px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.nameContainer {
  position: relative;
  min-width: 782px;
  h2 {
    position: absolute;
    font-family: $poppins;
    font-weight: 900;
    font-size: 15rem;
    line-height: 1.3;
    margin: 0;
    text-transform: uppercase;
    transform: translate(0%, -50%);
    }
}

.lineOneContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.fontIconTwo {
  margin-right: -18px;
}

.spanContainer {
  font-size: 3.5rem;
  min-width: 320px;
  margin-left: 30px;
  .fa-rotate-90{
    transform: rotate(90deg) translate(-10%, 25%);
    
  }
  .fa-slash {
    font-size: 2.5rem;
    
  }
}

.nameContainer h2:nth-child(1) {
  color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.nameContainer h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,100% {
    clip-path: polygon(0 39%, 11% 38%, 24% 40%, 33% 48%, 45% 54%, 60% 54%, 74% 49%, 85% 39%, 100% 34%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0 57%, 11% 64%, 24% 68%, 39% 68%, 51% 63%, 57% 51%, 70% 43%, 86% 41%, 100% 43%, 100% 100%, 0% 100%);
  }
}

.subHeaderContainer {
  width: 100%;
}

h3 {
  font-family: $audiowide;
  font-size: 6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  // transition: color 0.2s ease-in-out;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    // hr {
    //   color: darkturquoise; 
    //   width: 100%;
    //   margin-bottom: 20px;
    // }
    h5 {
      font-family: $chakraPetch;
      font-weight: 700;
      font-size: 1.8rem;
      text-transform: uppercase;
      margin: 25px 0;
    }
}

.socialIcons {
  width: 40%;
  margin-top: 30px;
  ul {
    position: relative;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid;
    padding: 1px;
    li {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      padding: 10px 0 0 10px;
      margin: 0 10px ;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      p {
        font-family: $josefinSlab;
        font-size: 1.6rem;
        letter-spacing: 2px;
        transition: 0.9s ease-in-out;
      }
      a {
        text-decoration: none;
        color: $lightBlue;
        i {
          font-size: 3rem;
        }
      }

      &:hover,
      &:focus {
        transform: scale(1.05);
        p{
          color: #fff;
          text-shadow: 0 0 5px #fff;
          // text-shadow: 0 0 20px #fff;
        }
      }
    }
  }
}

// Social Icons Hover Effect
.socialIcons ul li::before {
  font-family: fontAwesome;
      position: absolute;
      top: 1px;
      font-size: 3rem;
      height: 0;
      overflow: hidden;
      transition: 0.5s ease-in-out;
}

.socialIcons ul li::before {
  pointer-events: none;
}

.socialIcons ul li:nth-child(1)::before {
  content: '\f08c';
  color: #2867B2;
  border-bottom: 2px solid #2867B2;
    
}

.socialIcons ul li:nth-child(2)::before {
  content: '\f09b';
  color: #f34f29;
  border-bottom: 2px solid #f34f29;
}

.socialIcons ul li:nth-child(3)::before {
  content: '\f099';
  color: #1DA1F2;
  border-bottom: 2px solid #1DA1F2;
}

.socialIcons ul li:nth-child(4)::before {
  content: '\f23a';
  color: #00ab6c;
  border-bottom: 2px solid #00ab6c;
}

.socialIcons ul li:nth-child(5)::before {
  content: '\f1c1';
  color: #ef233c;
  border-bottom: 2px solid #ef233c;
}

.socialIcons ul li:hover::before,
.socialIcons ul li:active::before {
  height: 100%;
}
