@import 'variables';

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: relative;
}

h1 {
  font-family: $josefinSlab;
  font-weight: 500;
  font-size: 6rem;
  margin: 40px 0 20px;
}

h3 {
  font-family: $josefinSlab;
  font-weight: 500;
  font-size: 2rem;
}