body {
  font-family: $lato;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2rem;
  background-color: #212529;
  color: $lightBlue;
  transition: background 0.2s linear;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

main {
  height: calc(100vh - 143px);
  overflow-y: auto;
  overflow-x: hidden;
  
  @include mq (812px) {
      height: calc(100vh - 181px);
    }

    @include mq (455px) {
      height: calc(100vh - 135px);
    }

    @media (max-height: 455px) {
      height: calc(100vh - 120px);
    }
}

section {
  min-height: calc(100vh - 143px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;

    @include mq (768px) {
      min-height: calc(100vh - 182px);
    }

  @include mq (455px) {
      height: calc(100vh - 140px);
    }

    @media (max-height: 455px) {
      height: calc(100vh - 120px);
    }
}

.sectionTxt {
  font-family: $josefinSlab;
    @media (max-height: 768px) {
      font-size: 2rem;
    }
}
