@import 'mixins';

h4 {
  font-family: $josefinSlab;
  font-weight: 700;
  font-size: 5.5rem;
  color: $deepBlue;
}

.modalContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}

.modalDescription {
  width: 60%;
    @include mq (1100px) {
      width: 100%;
    }
}

.modalButtons {
  display: flex;
  @include mq (625px) {
    flex-direction: column;
    width: 100%;
  }
  li {
    list-style: none;
    margin: 50px;
      @include mq (625px) {
      margin: 0;
      margin-top: 30px;
      width: 100%;
      display: block;
    }
    a {
      @include mq (625px){
        display: block;
        width: 100%;
      }
      font-size: 1.8rem;
      padding: 20px;
      background-color: $lightBlue;
      color: $deepBlue;
      border: 2px solid $deepBlue;
      border-radius: 20px;
      text-decoration: none;
      text-align: center;
        &:hover {
          background-color: $deepBlue;
          color: $lightBlue;
        }
    }
  }
}

.modalIconContainer {
  display: flex;
    li {
      padding: 10px;
      font-size: 4rem;
      list-style: none;
    }
}
