// header font
$josefinSlab: 'Josefin Slab', serif;


// body font
$lato: 'Lato', sans-serif;


// darkmode colors
$darkYellow: #ffe562;
$deepBlue: #1d3557;
$iceWhite: #f1faee;


// lightmode colors
$lightYellow: #ffea81;
$lightBlue: #a7cced;