// header font
$poppins : 'Poppins', sans-serif;
$audiowide: 'Audiowide', cursive;
$chakraPetch: 'Chakra Petch', sans-serif;

// social/skills icon font
$josefinSlab: 'Josefin Slab', serif;

// body font
$lato: 'Lato', sans-serif;

// darkmode colors
$darkYellow: #ffe562;
$darkGray: #343a40;
$deepBlue: #1d3557;
$iceWhite: #f1faee;


// lightmode colors
$lightYellow: #ffea81;
$lightBlue: #a7cced;