@mixin tabletSize1490 {
     @media (max-width: 1490px) {
          div.infoContainer {
               flex-direction: column;
               align-items: center;
          }
          
          imgContainer,
          ul {
               width: 100%;
          }
     
     }
}

@mixin tabletSize900 {
     @media (max-width: 900px) {
          main {
               flex-direction: column;
               align-items: center;
          }

          div.recipeContainer {
               width: 85%;
          }
     }

     form {
          flex-direction: column;
     }
     
     input[type=text] {
          width: 100%;
          text-align: center;
          padding: 15px 0;
     }

     button {
          width: 50%;
     }
}

@mixin phoneSize760 {
     @media (max-width: 760px) {

          h1 {
               font-size: 5rem;
          }
     }
}

@mixin phoneSize450 {
     @media (max-width: 450px) {

          h1 {
               font-size: 4rem;
          }
     }
}