@import 'setup';
@import 'mixins';

h1 {
  font-size: 8rem;
  text-transform: uppercase;
}

h3 {
  padding-bottom: 20px;
  font-size: 3.5rem;
  text-align: center;
}

li {
  
  font-size: 1.8rem;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

div {
  .recipeContainer {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 42px);
    border: 1px solid red;
    padding: 25px;
    margin: 20px;
    position: relative;
  }
}

.healthContainer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  border: 1px solid red;
  padding: 25px;
  z-index: 10;
  background-color: lightseagreen;
  position: absolute;
  top: 0;
  left: 0;
}

.healthLi {
    li,
    h3 {
      display: none;
    }
}

.active {
  li,
  h3 {
    display: block;
  }
}

.imgContainer {
  width: 50%;
}

.infoContainer {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

ul {
  padding: 20px 30px;
  width:50%;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  font-size: 2rem;
  margin: 20px 0;
  width: 50%;
  padding: 15px 80px;
}

button {
  font-size: 2rem;
  width: 25%;
  padding: 14px 50px;
}

footer {
  p {
    text-align: center;
  }
}

@include tabletSize1490;

@include tabletSize900;

@include phoneSize760;

@include phoneSize450;