html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px #19F;
          box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.tingle-modal * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tingle-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  cursor: url("data:image/svg+xml,%3Csvg width='19' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.514.535l-6.42 6.42L2.677.536a1.517 1.517 0 00-2.14 0 1.517 1.517 0 000 2.14l6.42 6.419-6.42 6.419a1.517 1.517 0 000 2.14 1.517 1.517 0 002.14 0l6.419-6.42 6.419 6.42a1.517 1.517 0 002.14 0 1.517 1.517 0 000-2.14l-6.42-6.42 6.42-6.418a1.517 1.517 0 000-2.14 1.516 1.516 0 00-2.14 0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E"), auto;
}

@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  .tingle-modal {
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
  }
}

/* confirm and alerts
-------------------------------------------------------------- */
.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}

/* modal
-------------------------------------------------------------- */
.tingle-modal--noOverlayClose {
  cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
  display: none;
}

.tingle-modal__close {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 1000;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.tingle-modal__close svg * {
  fill: currentColor;
}

.tingle-modal__closeLabel {
  display: none;
}

.tingle-modal__close:hover {
  color: #fff;
}

.tingle-modal-box {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
  border-radius: 4px;
  background: #fff;
  opacity: 1;
  cursor: auto;
  will-change: transform, opacity;
}

.tingle-modal-box__content {
  padding: 3rem 3rem;
}

.tingle-modal-box__footer {
  padding: 1.5rem 2rem;
  width: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f5f5f5;
  cursor: auto;
}

.tingle-modal-box__footer::after {
  display: table;
  clear: both;
  content: "";
}

.tingle-modal-box__footer--sticky {
  position: fixed;
  bottom: -200px;
  /* TODO : find a better way */
  z-index: 10001;
  opacity: 1;
  -webkit-transition: bottom .3s ease-in-out .3s;
  transition: bottom .3s ease-in-out .3s;
}

/* state
-------------------------------------------------------------- */
.tingle-enabled {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.tingle-modal--visible .tingle-modal-box__footer {
  bottom: 0;
}

.tingle-modal--visible {
  visibility: visible;
  opacity: 1;
}

.tingle-modal--visible .tingle-modal-box {
  -webkit-animation: scale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
          animation: scale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}

/* btn
-------------------------------------------------------------- */
.tingle-btn {
  display: inline-block;
  margin: 0 .5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: grey;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.tingle-btn--primary {
  background-color: #3498db;
}

.tingle-btn--danger {
  background-color: #e74c3c;
}

.tingle-btn--default {
  background-color: #34495e;
}

.tingle-btn--pull-left {
  float: left;
}

.tingle-btn--pull-right {
  float: right;
}

/* responsive
-------------------------------------------------------------- */
@media (max-width: 540px) {
  .tingle-modal-box__content {
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .tingle-modal--noClose {
    top: 0;
  }
  .tingle-modal--noOverlayClose {
    padding-top: 0;
  }
  .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }
  .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2c3e50;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
  }
  .tingle-modal__closeLabel {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  .tingle-modal__closeIcon {
    display: inline-block;
    margin-right: .8rem;
    width: 1.6rem;
    vertical-align: middle;
    font-size: 0;
  }
}

/* animations
-------------------------------------------------------------- */
@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 2rem;
  background-color: #a7cced;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.mainWrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.smallWrapper {
  max-width: 1400px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 455px) {
  .smallWrapper {
    width: 90%;
  }
}

footer {
  display: block;
  text-align: right;
}

footer h3 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  font-size: 2.2rem;
}

@media (max-width: 455px) {
  footer h3 {
    font-size: 2rem;
  }
}

.carousel-cell {
  width: 70%;
  margin-right: -130px;
  pointer-events: none;
}

.carousel-cell video {
  width: 100%;
  border-radius: 20px;
  opacity: 0.7;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
  -webkit-filter: blur(5px) brightness(0.6);
          filter: blur(5px) brightness(0.6);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.7s, -webkit-filter 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.7s, -webkit-filter 0.3s;
  transition: opacity 0.3s, transform 0.7s, filter 0.3s;
  transition: opacity 0.3s, transform 0.7s, filter 0.3s, -webkit-transform 0.7s, -webkit-filter 0.3s;
  cursor: pointer;
}

.is-selected {
  pointer-events: auto;
  z-index: 1;
}

.is-selected video {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
  -webkit-box-shadow: 0px 0px 5px;
          box-shadow: 0px 0px 5px;
}

.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  color: #1d3557;
  background: transparent;
  padding: 30px;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s, transform 0.3s ease-in-out;
  transition: opacity 0.3s, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.4);
          transform: translateY(-50%) scale(1.4);
}

.flickity-prev-next-button.previous {
  left: 0;
}

.flickity-prev-next-button.next {
  right: 0;
}

.tingle-modal {
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  overflow-y: auto;
}

.tingle-modal--visible .tingle-modal-box {
  border-radius: 50px 50px 15px 15px;
  width: 90vw;
  max-width: 1400px;
  min-height: 62vh;
  padding: 100px;
  background-color: #ffe562;
  -webkit-animation: slideUp 0.7s ease-in-out;
          animation: slideUp 0.7s ease-in-out;
  -webkit-transform: translateY(19%);
          transform: translateY(19%);
}

@media (max-width: 820px) {
  .tingle-modal--visible .tingle-modal-box {
    padding: 0 20px;
  }
}

@media (max-width: 540px) {
  .tingle-modal--visible .tingle-modal-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px;
  }
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(19%);
            transform: translateY(19%);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(19%);
            transform: translateY(19%);
    opacity: 1;
  }
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

h1 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  font-size: 8rem;
  line-height: 1.3;
  margin: 0;
  margin-top: 40px;
  color: #1d3557;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

@media (max-width: 455px) {
  h1 {
    font-size: 6rem;
  }
}

h3 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #1d3557;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

@media (max-width: 455px) {
  h3 {
    font-size: 2rem;
  }
}

.sectionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.folderContainer {
  width: 100%;
  max-height: calc(100vh - 310px);
  border-radius: 50px 50px 15px 15px;
  background-color: #ffea81;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
  border: 1px solid #1d3557;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}

@media (max-width: 1100px) {
  .folderContainer {
    max-height: calc(100vh - 30px);
  }
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

@media (max-width: 995px) {
  .aboutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 455px) {
  .aboutSection {
    margin-top: 10px;
  }
}

.profileIntro {
  width: 55%;
}

@media (max-width: 995px) {
  .profileIntro {
    width: 100%;
  }
  .profileIntro p {
    line-height: 1.3;
    margin-bottom: 30px;
  }
}

.imgSection {
  width: 45%;
}

@media (max-width: 995px) {
  .imgSection {
    width: 100%;
  }
}

.profileImgContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profileImgContainer .socialIcons {
  width: 100%;
}

.profilePic {
  border-radius: 50%;
  width: 60%;
  margin-bottom: 30px;
}

@media (max-width: 995px) {
  .profilePic {
    margin-bottom: 10px;
  }
}

.skills {
  min-width: 345px;
}

@media (max-width: 455px) {
  .skills {
    min-width: 100%;
  }
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 10px;
  margin: 5px;
  font-size: 7.5rem;
  color: #1d3557;
}

.skills ul li p {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  color: #1d3557;
  margin: 5px 0;
}

@media (max-width: 455px) {
  .skills ul li {
    font-size: 5rem;
  }
}

h2 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  font-size: 4rem;
  color: #1d3557;
}

.projectHeaderContainer {
  margin: 20px auto;
}

.skillsHeaderContainer {
  margin-top: 50px;
}

.contactContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 1055px) {
  .contactContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.socialIcons {
  width: 40%;
  margin-top: 30px;
}

.socialIcons ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.socialIcons ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.socialIcons ul li p {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  color: #1d3557;
}

.socialIcons ul li a {
  text-decoration: none;
  color: #1d3557;
}

.socialIcons ul li a i {
  font-size: 5rem;
}

@media (max-width: 455px) {
  .socialIcons ul li a i {
    font-size: 3rem;
  }
}

.socialIcons ul li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 1055px) {
  .socialIcons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socialIcons ul {
    width: 80%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.contactForm {
  width: 60%;
}

@media (max-width: 1055px) {
  .contactForm {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

input {
  padding: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #1d3557;
  margin: 5px 0;
}

textarea {
  padding: 15px;
  resize: none;
  overflow: auto;
  outline: none;
  height: 150px;
  border: none;
  border-bottom: 2px solid #1d3557;
  background-color: transparent;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submitButton {
  padding: 20px 0;
  width: 60%;
  margin: 40px;
  font-size: 2rem;
  color: #1d3557;
  background-color: #a7cced;
  border: 2px solid #1d3557;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.submitButton:hover, .submitButton:focus {
  background-color: #1d3557;
  color: #a7cced;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.submitButton:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.socialIcons ul li::before {
  font-family: fontAwesome;
  position: absolute;
  top: -5px;
  font-size: 5rem;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 455px) {
  .socialIcons ul li::before {
    font-size: 3rem;
    top: 0;
  }
}

.socialIcons ul li:nth-child(1)::before {
  content: '\f08c';
  color: #0466c8;
  border-bottom: 6px solid #0466c8;
}

.socialIcons ul li:nth-child(2)::before {
  content: '\f09b';
  color: #ff8800;
  border-bottom: 6px solid #ff8800;
}

.socialIcons ul li:nth-child(3)::before {
  content: '\f099';
  color: #3a86ff;
  border-bottom: 6px solid #3a86ff;
}

.socialIcons ul li:hover::before,
.socialIcons ul li:active::before {
  height: 100%;
}

h4 {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  font-size: 5.5rem;
  color: #1d3557;
}

@media (max-width: 455px) {
  h4 {
    font-size: 3.4rem;
  }
}

.modalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modalDescription {
  width: 60%;
}

@media (max-width: 1100px) {
  .modalDescription {
    width: 100%;
  }
}

@media (max-width: 455px) {
  .modalDescription p {
    line-height: 1.3;
  }
}

.modalButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 865px) {
  .modalButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.modalButtons li {
  list-style: none;
  margin: 50px 50px 50px 0;
}

@media (max-width: 865px) {
  .modalButtons li {
    margin: 0;
    margin-top: 30px;
    width: 100%;
    display: block;
  }
}

.modalButtons li a {
  font-size: 2rem;
  padding: 20px 55px;
  background-color: #a7cced;
  color: #1d3557;
  border: 2px solid #1d3557;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 865px) {
  .modalButtons li a {
    display: block;
    width: 100%;
  }
}

.modalButtons li a:hover {
  background-color: #1d3557;
  color: #a7cced;
}

.modalIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 455px) {
  .modalIconContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modalIconContainer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 10px;
  margin: 5px;
  font-size: 4rem;
  color: #1d3557;
}

.modalIconContainer li p {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  color: #1d3557;
}

@media (max-width: 455px) {
  .modalIconContainer li {
    font-size: 3.5rem;
    padding: 5px;
  }
  .modalIconContainer li p {
    font-size: 1.2rem;
  }
}

.bodyDark {
  background-color: #1d3557;
}

.darkFolder {
  background-color: #ffe562;
}

.h1Dark,
.h3Dark {
  color: #a7cced;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(28px);
          transform: translateX(28px);
}

.label {
  width: 55px;
  height: 26px;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  position: relative;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.ball {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.darkModeBtn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.fa-moon {
  color: #ffe562;
  margin-right: 7px;
}

.fa-sun {
  color: #ffea81;
}

.dark {
  display: none;
}

.displayOff {
  display: none;
}

.displayOn {
  display: block;
}
