html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px #19F;
          box-shadow: 0 0 0 5px #19F;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.tingle-modal * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tingle-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  cursor: url("data:image/svg+xml,%3Csvg width='19' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.514.535l-6.42 6.42L2.677.536a1.517 1.517 0 00-2.14 0 1.517 1.517 0 000 2.14l6.42 6.419-6.42 6.419a1.517 1.517 0 000 2.14 1.517 1.517 0 002.14 0l6.419-6.42 6.419 6.42a1.517 1.517 0 002.14 0 1.517 1.517 0 000-2.14l-6.42-6.42 6.42-6.418a1.517 1.517 0 000-2.14 1.516 1.516 0 00-2.14 0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E"), auto;
}

@supports ((-webkit-backdrop-filter: blur(12px)) or (backdrop-filter: blur(12px))) {
  .tingle-modal {
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
  }
}

/* confirm and alerts
-------------------------------------------------------------- */
.tingle-modal--confirm .tingle-modal-box {
  text-align: center;
}

/* modal
-------------------------------------------------------------- */
.tingle-modal--noOverlayClose {
  cursor: default;
}

.tingle-modal--noClose .tingle-modal__close {
  display: none;
}

.tingle-modal__close {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  z-index: 1000;
  padding: 0;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.tingle-modal__close svg * {
  fill: currentColor;
}

.tingle-modal__closeLabel {
  display: none;
}

.tingle-modal__close:hover {
  color: #fff;
}

.tingle-modal-box {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
  border-radius: 4px;
  opacity: 1;
  cursor: auto;
  will-change: transform, opacity;
}

.tingle-modal-box__content {
  padding: 3rem 3rem;
}

.tingle-modal-box__footer {
  padding: 1.5rem 2rem;
  width: auto;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f5f5f5;
  cursor: auto;
}

.tingle-modal-box__footer::after {
  display: table;
  clear: both;
  content: "";
}

.tingle-modal-box__footer--sticky {
  position: fixed;
  bottom: -200px;
  /* TODO : find a better way */
  z-index: 10001;
  opacity: 1;
  -webkit-transition: bottom .3s ease-in-out .3s;
  transition: bottom .3s ease-in-out .3s;
}

/* state
-------------------------------------------------------------- */
.tingle-enabled {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.tingle-modal--visible .tingle-modal-box__footer {
  bottom: 0;
}

.tingle-modal--visible {
  visibility: visible;
  opacity: 1;
}

.tingle-modal--visible .tingle-modal-box {
  -webkit-animation: scale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
          animation: scale 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

.tingle-modal--overflow {
  overflow-y: scroll;
  padding-top: 8vh;
}

/* btn
-------------------------------------------------------------- */
.tingle-btn {
  display: inline-block;
  margin: 0 .5rem;
  padding: 1rem 2rem;
  border: none;
  background-color: grey;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.tingle-btn--primary {
  background-color: #3498db;
}

.tingle-btn--danger {
  background-color: #e74c3c;
}

.tingle-btn--default {
  background-color: #34495e;
}

.tingle-btn--pull-left {
  float: left;
}

.tingle-btn--pull-right {
  float: right;
}

/* responsive
-------------------------------------------------------------- */
@media (max-width: 540px) {
  .tingle-modal-box__content {
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .tingle-modal--noClose {
    top: 0;
  }
  .tingle-modal--noOverlayClose {
    padding-top: 0;
  }
  .tingle-modal-box__footer .tingle-btn {
    display: block;
    float: none;
    margin-bottom: 1rem;
    width: 100%;
  }
  .tingle-modal__close {
    top: 0;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #2c3e50;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff;
  }
  .tingle-modal__closeLabel {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  .tingle-modal__closeIcon {
    display: inline-block;
    margin-right: .8rem;
    width: 1.6rem;
    vertical-align: middle;
    font-size: 0;
  }
}

/* animations
-------------------------------------------------------------- */
@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 2rem;
  background-color: #212529;
  color: #a7cced;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

main {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5vh 0;
}

section {
  height: 98vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectionTxt {
  font-family: "Josefin Slab", serif;
}

@media (max-height: 768px) {
  .sectionTxt {
    font-size: 2rem;
  }
}

header {
  position: relative;
  width: 100%;
}

nav {
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  height: 10vh;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 479px) {
  nav ul .bar {
    display: none;
  }
}

nav ul li {
  font-family: "Chakra Petch", sans-serif;
  letter-spacing: 3px;
  list-style: none;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 1vh 0.5vw;
}

nav ul li {
  font-size: 1.6rem;
  line-height: calc(1.6rem + 5px);
}

@media (min-width: 30rem) {
  nav ul li {
    font-size: calc(1.6rem + 0.2 * ((100vw - 30rem) / 130));
    line-height: calc(calc(1.6rem + 0.2 * ((100vw - 30rem) / 130)) + 5px);
  }
}

@media (min-width: 160rem) {
  nav ul li {
    font-size: 1.8rem;
    line-height: calc(1.8rem + 5px);
  }
}

nav ul li a {
  text-decoration: none;
  color: #a7cced;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

nav ul li a:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff;
  border-bottom: 1px solid #a7cced;
}

@media (max-width: 479px) {
  nav ul li {
    letter-spacing: 1px;
    margin: 1vh 1.2vw;
  }
}

@media (min-width: 1600px) {
  nav ul li {
    font-size: 1.8rem;
  }
}

.mainHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nameContainer {
  position: relative;
  min-width: 782px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
}

@media (max-width: 1274px) {
  .nameContainer {
    min-width: 670px;
  }
}

@media (max-width: 1150px) {
  .nameContainer {
    margin-bottom: 78px;
  }
}

@media (max-width: 479px) {
  .nameContainer {
    min-width: 345px;
  }
}

.nameContainer h2 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 1.3;
  margin: 0;
  text-transform: uppercase;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.nameContainer h2 {
  font-size: 6.5rem;
  line-height: calc(6.5rem + 5px);
}

@media (min-width: 30rem) {
  .nameContainer h2 {
    font-size: calc(6.5rem + 8.5 * ((100vw - 30rem) / 130));
    line-height: calc(calc(6.5rem + 8.5 * ((100vw - 30rem) / 130)) + 5px);
  }
}

@media (min-width: 160rem) {
  .nameContainer h2 {
    font-size: 15rem;
    line-height: calc(15rem + 5px);
  }
}

@media (max-width: 812px) {
  .nameContainer h2 {
    -webkit-transform: translate(0%, -20%);
            transform: translate(0%, -20%);
  }
}

@media (max-width: 455px) {
  .nameContainer h2 {
    font-size: 5.8rem;
  }
}

@media (min-width: 1600px) {
  .nameContainer h2 {
    font-size: 15rem;
  }
}

@media (max-height: 455px) {
  .nameContainer h2 {
    font-size: 7rem;
  }
}

.lineOneContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 3vh;
}

.fontIconTwo {
  margin-right: -18px;
}

.spanContainer {
  font-size: 3.5rem;
  min-width: 320px;
  margin-left: 30px;
}

@media (max-width: 812px) {
  .spanContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    margin-top: 2vh;
    font-size: 2rem;
  }
}

@media (max-width: 479px) {
  .spanContainer {
    font-size: 3rem;
  }
}

.spanContainer .fa-rotate-90 {
  -webkit-transform: rotate(90deg) translate(-10%, 25%);
          transform: rotate(90deg) translate(-10%, 25%);
}

.spanContainer .fa-slash {
  font-size: 2.5rem;
}

.nameContainer h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.nameContainer h2:nth-child(2) {
  background: -webkit-gradient(linear, right top, left top, from(#30CFD0), to(#330867));
  background: linear-gradient(to left, #30CFD0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: animate 4s ease-in-out infinite;
          animation: animate 4s ease-in-out infinite;
}

@-webkit-keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0 50%, 12% 48%, 26% 50%, 38% 58%, 50% 64%, 66% 64%, 79% 61%, 90% 57%, 100% 51%, 100% 100%, 0 100%);
            clip-path: polygon(0 50%, 12% 48%, 26% 50%, 38% 58%, 50% 64%, 66% 64%, 79% 61%, 90% 57%, 100% 51%, 100% 100%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 58%, 9% 62%, 21% 64%, 33% 65%, 46% 61%, 58% 54%, 72% 49%, 88% 48%, 100% 52%, 100% 100%, 0 100%);
            clip-path: polygon(0 58%, 9% 62%, 21% 64%, 33% 65%, 46% 61%, 58% 54%, 72% 49%, 88% 48%, 100% 52%, 100% 100%, 0 100%);
  }
}

@keyframes animate {
  0%, 100% {
    -webkit-clip-path: polygon(0 50%, 12% 48%, 26% 50%, 38% 58%, 50% 64%, 66% 64%, 79% 61%, 90% 57%, 100% 51%, 100% 100%, 0 100%);
            clip-path: polygon(0 50%, 12% 48%, 26% 50%, 38% 58%, 50% 64%, 66% 64%, 79% 61%, 90% 57%, 100% 51%, 100% 100%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 58%, 9% 62%, 21% 64%, 33% 65%, 46% 61%, 58% 54%, 72% 49%, 88% 48%, 100% 52%, 100% 100%, 0 100%);
            clip-path: polygon(0 58%, 9% 62%, 21% 64%, 33% 65%, 46% 61%, 58% 54%, 72% 49%, 88% 48%, 100% 52%, 100% 100%, 0 100%);
  }
}

.subHeaderContainer {
  width: 100%;
}

h3 {
  font-family: "Audiowide", cursive;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  line-height: calc(1.2rem + 5px);
}

@media (min-width: 30rem) {
  h3 {
    font-size: calc(1.2rem + 4.8 * ((100vw - 30rem) / 130));
    line-height: calc(calc(1.2rem + 4.8 * ((100vw - 30rem) / 130)) + 5px);
  }
}

@media (min-width: 160rem) {
  h3 {
    font-size: 6rem;
    line-height: calc(6rem + 5px);
  }
}

@media (min-width: 1600px) {
  h3 {
    font-size: 6rem;
  }
}

@media (max-height: 455px) {
  h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 479px) {
  h3 {
    font-size: 1.4rem;
  }
}

.aboutHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1225px) {
  .aboutSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-height: 455px) {
  .aboutSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.aboutSection .profileTxt {
  width: 70%;
  padding: 3vh 3vw;
  letter-spacing: 2.5px;
}

.aboutSection .profileTxt {
  font-size: 1.8rem;
  line-height: calc(1.8rem + 10px);
}

@media (min-width: 30rem) {
  .aboutSection .profileTxt {
    font-size: calc(1.8rem + 0.7 * ((100vw - 30rem) / 130));
    line-height: calc(calc(1.8rem + 0.7 * ((100vw - 30rem) / 130)) + 10px);
  }
}

@media (min-width: 160rem) {
  .aboutSection .profileTxt {
    font-size: 2.5rem;
    line-height: calc(2.5rem + 10px);
  }
}

@media (max-height: 768px) {
  .aboutSection .profileTxt {
    font-size: 1.6rem;
  }
}

@media (max-width: 1125px) {
  .aboutSection .profileTxt {
    width: 100%;
    padding: 4vh, 4vw;
  }
}

@media (max-width: 479px) {
  .aboutSection .profileTxt {
    width: 100%;
    padding: 4vh, 4vw;
    line-height: 1.3;
  }
}

@media (max-height: 455px) {
  .aboutSection .profileTxt {
    line-height: 1.3;
    padding-left: 0;
  }
}

.aboutSection img {
  width: 100%;
  border-radius: 50%;
}

.aboutSection .profileImg {
  width: 30%;
  border-radius: 50%;
}

@media (max-height: 768px) {
  .aboutSection .profileImg {
    width: 25%;
  }
}

@media (max-width: 479px) {
  .aboutSection .profileImg {
    width: 45%;
  }
}

.projectHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
  text-transform: uppercase;
}

@media (max-width: 479px) {
  .projectHeader {
    margin-bottom: 2vh;
  }
}

.carousel-cell {
  width: 90%;
  margin-right: -130px;
  pointer-events: none;
  position: relative;
}

.carousel-cell video {
  width: 100%;
  border-radius: 20px;
  opacity: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.7s;
  transition: opacity 0.3s, -webkit-transform 0.7s;
  transition: opacity 0.3s, transform 0.7s;
  transition: opacity 0.3s, transform 0.7s, -webkit-transform 0.7s;
  cursor: pointer;
}

.rtContainer,
.fmbContainer,
.rlContainer,
.shContainer {
  position: relative;
  width: 70%;
}

@media (max-width: 455px) {
  .rtContainer,
  .fmbContainer,
  .rlContainer,
  .shContainer {
    width: 50%;
  }
}

@media (max-height: 455px) {
  .rtContainer,
  .fmbContainer,
  .rlContainer,
  .shContainer {
    width: calc(100% / 4);
  }
}

.projectTitle {
  display: none;
  position: absolute;
  top: 30px;
  left: 50px;
  width: 40%;
  z-index: 1;
  pointer-events: none;
  font-size: 2.5rem;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .projectTitle {
    top: 10px;
    left: 15px;
    font-size: 2rem;
  }
}

@media (max-width: 689px) {
  .projectTitle {
    top: 5px;
    left: 8px;
    font-size: 1.2rem;
  }
}

.is-selected {
  pointer-events: auto;
  z-index: 1;
}

.is-selected p {
  display: block;
}

.is-selected video {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

.flickity-page-dots .dot {
  width: 16px;
  height: 16px;
  border: 1px solid #a7cced;
}

.flickity-page-dots .dot.is-selected {
  background: #a7cced;
}

.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  color: #a7cced;
  background: transparent;
  padding: 30px;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s, transform 0.3s ease-in-out;
  transition: opacity 0.3s, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1.4);
          transform: translateY(-50%) scale(1.4);
}

.flickity-prev-next-button.previous {
  left: 0;
}

.flickity-prev-next-button.next {
  right: 0;
}

@media (max-width: 455px) {
  .main-carousel {
    display: none;
  }
}

@media (max-height: 455px) {
  .main-carousel {
    display: none;
  }
}

.mobileView {
  display: none;
}

.mobileView p {
  position: absolute;
  font-size: 1rem;
  bottom: 18px;
  right: 18px;
}

@media (max-height: 455px) {
  .mobileView p {
    bottom: -5px;
    right: 52px;
  }
}

@media (max-width: 455px) {
  .mobileView {
    display: block;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobileView video {
    width: 90%;
    margin: 10px;
  }
}

@media (max-height: 455px) {
  .mobileView {
    display: block;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobileView video {
    width: 90%;
    margin: 10px;
  }
}

.projectContainer {
  position: relative;
  width: 70%;
}

.skillsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5vh;
  text-transform: uppercase;
}

@media (max-width: 479px) {
  .skillsHeader {
    margin-bottom: 3vh;
  }
}

.skills {
  min-width: 345px;
}

@media (max-width: 455px) {
  .skills {
    min-width: 100%;
  }
}

@media (max-width: 1024px), (max-height: 1024px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px), (max-height: 1024px) {
  .skills ul {
    width: 70%;
  }
}

@media (max-width: 455px) {
  .skills ul {
    width: 100%;
  }
}

@media (max-height: 455px) {
  .skills ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 10px;
  margin: 5px;
}

.skills ul li {
  font-size: 7rem;
  line-height: calc(7rem + 5px);
}

@media (min-width: 30rem) {
  .skills ul li {
    font-size: calc(7rem + 3 * ((100vw - 30rem) / 130));
    line-height: calc(calc(7rem + 3 * ((100vw - 30rem) / 130)) + 5px);
  }
}

@media (min-width: 160rem) {
  .skills ul li {
    font-size: 10rem;
    line-height: calc(10rem + 5px);
  }
}

@media (max-width: 455px) {
  .skills ul li {
    line-height: 1.2;
  }
}

@media (max-height: 455px) {
  .skills ul li {
    font-size: 4.5rem;
    padding: 0;
    line-height: 1.6;
  }
}

.skills ul li p {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin: 5px 0;
}

@media (max-width: 455px) {
  .skills ul li {
    font-size: 5rem;
  }
}

.contactHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3vh;
  text-transform: uppercase;
}

@media (max-height: 455px) {
  .contactHeader {
    margin-bottom: 0;
  }
}

.contactForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

@media (max-width: 1024px) {
  fieldset {
    width: 80%;
  }
}

@media (max-width: 455px) {
  fieldset {
    width: 100%;
  }
}

input {
  padding: 15px;
  margin: 5px 0;
  letter-spacing: 1px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #a7cced;
  color: #a7cced;
}

@media (max-height: 455px) {
  input {
    font-size: 1.4rem;
    padding: 0;
    line-height: 1.6;
  }
}

textarea {
  padding: 15px;
  letter-spacing: 1px;
  resize: none;
  overflow: auto;
  outline: none;
  width: 100%;
  height: 25vh;
  border: none;
  border-bottom: 2px solid #a7cced;
  background-color: transparent;
  color: #a7cced;
}

@media (max-height: 455px) {
  textarea {
    font-size: 1.4rem;
    padding: 0;
    line-height: 1.6;
    height: 20vh;
  }
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.submitButton {
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  letter-spacing: 5px;
  padding: 14px 18px;
  width: 200px;
  margin: 40px;
  color: #1d3557;
  background-color: #a7cced;
  border: 2px solid #1d3557;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media (max-height: 455px) {
  .submitButton {
    padding: 5px;
    margin: 10px;
    font-size: 1.2rem;
    width: 100px;
  }
}

.submitButton:hover, .submitButton:focus {
  background-color: #1d3557;
  color: #a7cced;
  border: 2px solid #a7cced;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.submitButton:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer {
  position: relative;
  width: 100%;
}

.socialIcons {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #212529;
  z-index: 1;
  width: 100%;
}

.socialIcons ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding-bottom: 2vh;
}

.socialIcons ul li {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-width: 455px) {
  .socialIcons ul li {
    margin: 2px;
  }
}

.socialIcons ul li p {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  letter-spacing: 2px;
  -webkit-transition: 0.9s ease-in-out;
  transition: 0.9s ease-in-out;
}

@media (max-height: 455px) {
  .socialIcons ul li p {
    font-size: 1.1rem;
  }
}

.socialIcons ul li a {
  text-decoration: none;
  color: #a7cced;
}

.socialIcons ul li a i {
  font-size: 2.5rem;
  line-height: 1.6;
}

@media (max-height: 455px) {
  .socialIcons ul li a i {
    font-size: 1.6rem;
  }
}

.socialIcons ul li:hover, .socialIcons ul li:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.socialIcons ul li:hover p, .socialIcons ul li:focus p {
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

.socialIcons ul li::before {
  font-family: fontAwesome;
  position: absolute;
  top: 5.8px;
  font-size: 2.5rem;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media (max-height: 455px) {
  .socialIcons ul li::before {
    font-size: 1.6rem;
    top: 5px;
  }
}

.socialIcons ul li::before {
  pointer-events: none;
}

.socialIcons ul li:nth-child(1)::before {
  content: '\f08c';
  color: #2867B2;
  border-bottom: 2px solid #2867B2;
}

.socialIcons ul li:nth-child(2)::before {
  content: '\f09b';
  color: #f34f29;
  border-bottom: 2px solid #f34f29;
}

.socialIcons ul li:nth-child(3)::before {
  content: '\f099';
  color: #1DA1F2;
  border-bottom: 2px solid #1DA1F2;
}

.socialIcons ul li:nth-child(4)::before {
  content: '\f274';
  color: #00ab6c;
  border-bottom: 2px solid #00ab6c;
}

.socialIcons ul li:nth-child(5)::before {
  content: '\f1c1';
  color: #ef233c;
  border-bottom: 2px solid #ef233c;
}

.socialIcons ul li:hover::before,
.socialIcons ul li:active::before {
  height: 100%;
}

.tingle-modal {
  background: rgba(0, 0, 0, 0.6);
}

@media (max-width: 455px) {
  .tingle-modal {
    overflow: hidden;
    overflow-y: auto;
  }
}

.tingle-modal--visible .tingle-modal-box {
  border-radius: 35px;
  width: 90vw;
  max-width: 1400px;
  min-height: 62vh;
  padding: 100px;
  -webkit-animation: slideUp 0.7s ease-in-out;
          animation: slideUp 0.7s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 820px) {
  .tingle-modal--visible .tingle-modal-box {
    padding: 0 20px;
  }
}

@media (max-width: 455px) {
  .tingle-modal--visible .tingle-modal-box {
    width: 90%;
  }
}

.tingle-modal-box {
  background-color: #343a40;
}

.darkModal {
  background-color: #343a40;
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

h4 {
  font-family: "Josefin Slab", serif;
  font-size: 5.5rem;
}

@media (max-width: 455px) {
  h4 {
    font-size: 3.2rem;
  }
}

.modalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modalDescription {
  width: 60%;
}

@media (max-width: 1100px) {
  .modalDescription {
    width: 100%;
  }
}

@media (max-width: 455px) {
  .modalDescription p {
    line-height: 1.4;
    font-size: 1.4rem;
  }
}

.modalButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 865px) {
  .modalButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.modalButtons li {
  list-style: none;
  margin: 50px 50px 50px 0;
}

@media (max-width: 865px) {
  .modalButtons li {
    margin: 0;
    margin-top: 30px;
    width: 100%;
    display: block;
  }
}

.modalButtons li a {
  font-size: 2rem;
  padding: 20px 55px;
  background-color: #a7cced;
  color: #1d3557;
  border: 2px solid #1d3557;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
}

@media (max-width: 865px) {
  .modalButtons li a {
    display: block;
    width: 100%;
  }
}

@media (max-width: 455px) {
  .modalButtons li a {
    font-size: 1.4rem;
  }
}

.modalButtons li a:hover {
  background-color: #1d3557;
  color: #a7cced;
}

.modalIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (max-width: 455px) {
  .modalIconContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modalIconContainer li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 10px;
  margin: 5px;
  font-size: 4rem;
  line-height: 1.9;
}

@media (max-width: 455px) {
  .modalIconContainer li {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 455px) {
  .modalIconContainer li i {
    font-size: 2rem;
  }
}

.modalIconContainer li p {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
}

@media (max-width: 455px) {
  .modalIconContainer li {
    font-size: 3.5rem;
    padding: 5px;
  }
  .modalIconContainer li p {
    font-size: 1.2rem;
  }
}
